<ion-view title="Contact">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Contact sales manager</div>
            <div class="item item-body">
                <div>{{contact.sales_name}}</div>
                <div>{{contact.sales_phone}}</div>
                <div>{{contact.sales_email}}</div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Contact chief of sales</div>
            <div class="item item-body">
                <div>{{contact.sales_chief_name}}</div>
                <div>{{contact.sales_chief_phone}}</div>
                <div>{{contact.sales_chief_email}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>