<ion-view title="Contact">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Contact sales manager</div>
            <div class="item item-body">
                <div>
                    <p>
                        Add some
                        <b>HTML</b>for
                        <u>flavor</u>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Contact chief of sales</div>
            <div class="item item-body">
                <div>
                    <p>
                        Add some
                        <b>HTML</b>for
                        <u>flavor</u>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>