<ion-view title="Containers">
    <ion-content padding="true" class="has-header">
        <form>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 22px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>