<ion-modal-view>
	<ion-header-bar class="bar bar-header">
		<h1 class="title">Invoice details</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
	</ion-header-bar>
	<ion-content class="padding">
		<ul class="list">
		    <li class="item">
		    	<div style="float:left">Order no</div>
				<div style="float:right">{{invoice.order_no_ext}}</div>
		    </li>
		    <li class="item">
		    	<div style="float:left">Conts no</div>
				<div style="float:right" ng-bind-html="addHr(invoice.containers)"></div>
		    </li>
		</ul>
	</ion-content>
</ion-modal-view>