<ion-view title="">
    <ion-content padding="true" class="has-header has-footer">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img src="img/logo.png" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">
        </div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" name="username" id="username" class="form-control" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" name="password" id="password" class="form-control" ng-model="data.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block" ng-click="logIn()">Login</button>
            <div ng-show="error" class="alert alert-danger">{{error}}</div>
    </ion-content>
</ion-view>