<ion-modal-view>
	<ion-header-bar class="bar bar-header">
		<h1 class="title">Send email</h1>
		<button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
	</ion-header-bar>
	<ion-content class="padding">
		<label class="item item-input item-floating-label">
			To:&nbsp;{{send_to_name_email}}
		</label>
		<label class="item item-input item-floating-label">
			<input type="text" placeholder="subject" ng-model="subject">
		</label>
		<label class="item item-input item-floating-label">
			<textarea type="text" placeholder="message" ng-model="message" rows="4"></textarea>
		</label>
		<button class="button button-block button-stable" ng-disabled="!subject || !message" ng-click="sendEmail(send_to_email, subject, message)">
			Send
		</button>
	</ion-content>
</ion-modal-view>