<ion-view title="Uni-Laman">
    <ion-content padding="false">
        <div>
            <p align="center">
                {{ data.company_name }}
            </p>
        </div>
        <ion-list>
            <ion-item ng-click="showContainers('wait_sailing')">
                <h2>Waiting for sailing</h2>
                <p>{{ data.wait_sailing }}</p>
            </ion-item>
            <ion-item ng-click="showContainers('sailing')">
                <h2>Sailing</h2>
                <p>{{ data.sailing }}</p>
            </ion-item>
            <ion-item ng-click="showContainers('arrived')">
                <h2>Arrived</h2>
                <p>{{ data.arrived }}</p>
            </ion-item>
			<ion-item ng-click="showContainers('closed')">
			    <h2>Closed</h2>
			    <p>{{ data.closed }}</p>
			</ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <a href="#/containers" class="button icon ion-folder"></a>
            <a href="#/invoices" class="button icon ion-card"></a>
            <a href="#/more" class="button icon ion-android-add"></a>
        </div>
    </ion-footer-bar>
</ion-view>