<ion-view title="More services">
    <ion-content padding="false">
        <div class="button-bar">
            <a href="#/containers" class="button  button-icon button-block  icon ion-android-folder">
                <div>Containres</div>
            </a>
            <a href="#/invoices" class="button button-stable button-icon button-block  icon ion-card">
                <div>Invoices</div>
            </a>
            <a href="#/contact" class="button button-stable button-icon button-block  icon ion-android-call">
                <div>Contact</div>
            </a>
        </div>
        <div class="button-bar">
            <a href="#/reviews" class="button button-stable button-icon button-block  icon ion-android-forums">
                <div>Reviews</div>
            </a>
            <a href="#/login" class="button button-stable button-icon button-block  icon ion-log-out">
                <div>Log out</div>
            </a>
            <button class="button button-stable button-icon button-block "></button>
        </div>
    </ion-content>
</ion-view>