<ion-item>
    <table border="0" colspan="0" width="100%" align="center">
		<tr align="left">
			<th><u>{{container.cont_no}}</u></th>
			<td align="center">{{container.cont_type}}</td>
			<td><small>{{container.order_no_ext}}</small></td>
		</tr>
		<tr align="center">
			<td width="20%">{{container.ports_of_loading}}</td>
			<td width="10%" rowspan="2"><img src="assets/img/vessel.png" align="AbsMiddle" width="70"></td>
			<td width="20%">{{container.ports_of_discharge}}</td>
		</tr>
		<tr align="center">
			<td width="20%"><small>{{container.etd}}</small></td>
			<td width="20%"><small>{{container.eta}}</small></td>
		</tr>
	</table>
</ion-item>