<ion-view view-title="{{ 'LOGIN' | translate }}" align-title="left">
    <ion-content class="app-background">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>UNI-Laman Group</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input 
                placeholder="{{ 'USERNAME' | translate }}" 
                highlight-color="balanced" 
                type="text" 
                ng-model="login.username"
                >
            </ion-md-input>
            <ion-md-input 
                placeholder="{{ 'PASSWORD' | translate }}" 
                highlight-color="energized" 
                type="password" 
                ng-model="login.password"
                >
            </ion-md-input>
        </div>
        <div class="padding">
            <button 
                class="button button-full button-positive ink" 
                ng-disabled="!login.username || !login.password" 
                ng-click="login.logIn()"
                >{{ 'LOGIN' | translate }}
            </button>
        </div>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <!--<div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>-->
    </ion-content>
</ion-view>
