/* Menu
==================================*/
.menu-item-active {
	background-color: #7892BB !important;
}

.menu-icon {
	font-size: x-large;
}

.menu .bar.bar-header.expanded {
    background-image: url('../img/background2.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left span {
    font-weight: bold;
		font-size: 80%;
}

/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/icon.png') center;
		background-size: initial;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 130px;
    margin: 0 auto;
    width: 130px;
}

.app-background {
	background: url('../img/background.jpg') center;
	background-size: cover;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/* Slide menu
===================================*/

.home-view {
	height: 100%;
  background: url('../img/background.jpg') center;
  background-size: cover;
}

.home-view .scroll-content {
	margin: 5% 5% 0% 5%;
}

.home-view .slider {
  height: 100%;
	width: 100%;
}

.slider-slide {
	height: 90%;
  position: relative;
}
.slide-menu {
	position: absolute;
	text-align: center;
	overflow: auto;
	max-height: 100%;
}

@media only screen and (orientation: landscape) {
	.slide-menu-image {
		max-width: 35%;
	}
}
@media only screen and (orientation: portrait) {
	.slide-menu-image {
		max-width: 100%;
	}
}

.service-info-text {

}

/* Invoices
===================================*/
.inv-info-th {
	float: left;
	color: #6E6E6E;
}

.inv-info-td {
	float: left;
	color: black;
}

/* Reviews
===================================*/
.rev-item {
	background-color: #EFF2FB !important;
}

.push-messages-item {
  background-color: #EFF2FB !important;
}

.client-list-item {
  background-color: #EFF2FB !important;
}

.cont-list {
	@import 'ionic.filter.bar.css';
}

.container-item-closed {
  background-color: #F5F395;
}

.container-item-onweek {
  background-color: #FC6262;
}

.container-item-delivery {
  background-color: #91EE89;
}

.item-custom {
  padding: 1%;
}

.invoice-item-expired-debt  {
  background-color: #FC6262 !important;
}

.client-list-item-name {
  height: 60px;
}

.selectable-text {
    -webkit-user-select: auto;
}

/* for paste in iOS */
input, textarea {
	-webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;
}
.backdrop:not(.visible),
.loading-container:not(.visible) { display: none; }

.item-custom .icon {
	font-size: 250%;
}

.today-plan-item, .container-item {
	font-size: 90%;
}

.today-plan-item .row, .container-item .row {
	padding: 0;
}

.today-plan-item div, .container-item div {
	overflow: auto;
	padding: 0%;
}

.today-plan-item-center, .container-item-center {
	text-align: center;
}
