<ion-list ng-init="menu.item_sel='home'">
	<ion-item nav-clear menu-close href="#/app/home" ion-home ng-click="menu.item_sel='home'" ng-class="{'menu-item-active': menu.item_sel == 'home'}">
        <i class="icon ion-home menu-icon"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{ 'HOME' | translate }}</span>
  </ion-item>
  <ion-item nav-clear menu-close
      href="#/app/containers?archive=false"
      ng-click="menu.item_sel='containers'"
      ng-class="{'menu-item-active': menu.item_sel == 'containers'}"
      >
      <i class="icon ion-archive menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'CONTAINERS_LIST' | translate }}</span>
  </ion-item>
  <ion-item nav-clear menu-close
      href="#/app/containers?archive=true"
      ng-click="menu.item_sel='containers_archive'"
      ng-class="{'menu-item-active': menu.item_sel == 'containers_archive'}"
      >
      <i class="icon ion-archive menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'CONTAINERS_LIST' | translate }} ({{ 'ARCHIVE' | translate }})</span>
  </ion-item>
  <ion-item nav-clear menu-close href="#/app/invoices" ng-click="menu.item_sel='invoices'" ng-class="{'menu-item-active': menu.item_sel == 'invoices'}">
      <i class="icon ion-card menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'INVOICES' | translate }}</span>
  </ion-item>
  <hr>
  <ion-item nav-clear
      menu-close
      href="#/app/push-messages"
      ng-click="menu.item_sel='push-messages'"
      ng-class="{'menu-item-active': menu.item_sel == 'push-messages'}"
      >
      <i class="icon ion-android-notifications menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'PUSH_MESSAGES' | translate }}</span>
  </ion-item>
  <ion-item nav-clear menu-close
      href="#/app/contact"
      ng-click="menu.item_sel='contact'"
      ng-class="{'menu-item-active': menu.item_sel == 'contact'}"
      >
      <i class="icon ion-android-contacts menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'CONTACT_MANAGER' | translate }}</span>
  </ion-item>
  <ion-item nav-clear menu-close href="#/app/reviews" ng-click="menu.item_sel='reviews'" ng-class="{'menu-item-active': menu.item_sel == 'reviews'}">
      <i class="icon ion-android-star menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'APP_FEEDBACK' | translate }}</span>
  </ion-item>
  <hr>
  <ion-item nav-clear menu-close href="#/app/settings" ng-click="menu.item_sel='settings'" ng-class="{'menu-item-active': menu.item_sel == 'settings'}">
      <i class="icon ion-gear-a menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'SETTINGS' | translate }}</span>
  </ion-item>
  <ion-item nav-clear menu-close href="#" ng-click="logOut()" ng-click="menu.item_sel='logout'" ng-class="{'menu-item-active': menu.item_sel == 'logout'}">
      <i class="icon ion-log-out menu-icon"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{ 'LOG_OUT' |translate }}</span>
  </ion-item>
</ion-list>
