<ion-view title="Uni-Laman">
    <ion-content padding="false">
        <!--<div>
            <p align="center">
                {{ data.company_name }}
            </p>
        </div>
        <ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="loadReport()">
		</ion-refresher>
        <ion-list>
            <ion-item ng-click="showContainers('wait_sailing')">
                <h2>Waiting for sailing</h2>
                <p>{{ data.wait_sailing }}</p>
            </ion-item>
            <ion-item ng-click="showContainers('sailing')">
                <h2>Sailing</h2>
                <p>{{ data.sailing }}</p>
            </ion-item>
            <ion-item ng-click="showContainers('arrived')">
                <h2>Arrived</h2>
                <p>{{ data.arrived }}</p>
            </ion-item>
			<ion-item ng-click="showContainers('closed')">
			    <h2>Closed</h2>
			    <p>{{ data.closed }}</p>
			</ion-item>
        </ion-list>-->

        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
            <ion-slide>
                <div class="slide-menu">
                    <img src="assets/img/slide_pic1.jpg" class="slide-menu-image">
                    <h2 class="slide-menu-text"><span>Marine container transportation</span></h2>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-menu">
                    <img src="assets/img/slide_pic2.jpg" class="slide-menu-image">
                    <h2 class="slide-menu-text"><span>Auto transport</span></h2>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-menu">
                    <img src="assets/img/slide_pic3.jpg" class="slide-menu-image">
                    <h2 class="slide-menu-text"><span>LCL cargo</span></h2>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-menu">
                    <img src="assets/img/slide_pic4.jpg" class="slide-menu-image">
                    <h2 class="slide-menu-text"><span>Rail transportation</span></h2>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>