<ion-view title="Uni-Laman" class="home-view">
    <ion-content scroll="false">
      <ion-slide-box auto-play="true" does-continue="true">
        <ion-slide ng-repeat="slide in slides">
          <div class="slide-menu">
            <img src="{{slide.src}}" class="slide-menu-image">
            <div class="service-info-text">
              <h4>
                  <span><b>{{ slide.title | translate }}</b></span>
              </h4>
              <span>{{ slide.descr | translate }}</span>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </ion-content>
</ion-view>
