<ion-item class="item-custom">
	<div ng-class="{'expired':'invoice-item-expired-debt'}[invoice.invoice_status]">
		<table border="0" cellpadding="5" width="100%" align="center" style="table-layout: fixed;">
			<tr align="center">
				<th width="40%">
					<div ng-show="mode == 'manager'">{{invoice.custom_order_no}}/{{invoice.order_no}}</div>
					<div ng-show="mode == 'client'">{{invoice.custom_order_no}}</div>
				</th>
				<th width="30%">
					{{invoice.ports_of_loading}}
				</th>
				<th width="30%">
					{{invoice.debit_all}} {{invoice.valute}}
				</th>
			</tr>
		</table>
	</div>
</ion-item>
