<ion-view title="Invoice details">
    <ion-content padding="true" scroll="false">
		<ul class="list">
		    <li class="item">
		    	<div style="float:left">Order no</div>
				<div style="float:right">{{invoice.order_no_ext}}</div>
		    </li>
		    <li class="item">
		    	<div style="float:left">Conts no</div>
				<div style="float:right" ng-bind-html="addHr(invoice.containers)"></div>
		    </li>
		    <li class="item">
		    	<div style="float:left">Final date of payment</div>
		    	<div style="float:right">{{invoice.debt_date_delay}}</div>
		    </li>
		</ul>
	</ion-content>
</ion-view>