<ion-view title="{{ 'INVOICES' | translate }}" onload="loadInvoices()">
	<ion-nav-buttons side="secondary">
		<button class="button button-clear button-icon icon ion-ios-search" ng-click="showSerchBar()">
		</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader item-input-inset" ng-model="show_search_bar" ng-show="show_search_bar">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<form ng-submit="showSerchBar()">
				<input type="search" placeholder="{{ 'SEARCH' | translate }}" ng-model="extended_search">
			</form>
		</label>
	</div>

	<ion-content padding="true">
		<ion-refresher
	    pulling-text="{{ 'PULL_TO_REFRESH' | translate }}"
	    on-refresh="loadInvoices()">
		</ion-refresher>
    <ion-list>
      <ion-item ng-repeat="invoice in invoices" style="padding: 0px !important;" ng-click="openInvoiceDetails(invoice)">
        <ng-include src="'app/components/invoices/invoice-item.html'" />
      </ion-item>
    </ion-list>
		<div ng-if="invoices !== undefined && !invoices.length" class="no-results">
			<p>{{ 'NO_RESULTS' | translate }}</p>
		</div>
		<ion-infinite-scroll
					immediate-check="false"
			on-infinite="loadInvoices(activeLoad)"
			distance="1%"
			ng-if="!is_last">
		</ion-infinite-scroll>
  </ion-content>
</ion-view>
