<ion-view title="Invoice details">
    <ion-content padding="true" scroll="true">
		<ul class="list">
		    <li class="item">
		    	<div class="inv-info-th">Order no:</div>
				<div class="inv-info-td">
					&nbsp;
					<div style="float:right" ng-show="mode == 'manager'">
						{{invoice.custom_order_no}}/{{invoice.order_no}}
					</div>
					<div style="float:right" ng-show="mode == 'client'">{{invoice.custom_order_no}}</div>
					</div>
		    </li>
		    <li class="item">
		    	<div class="inv-info-th">Conts no:</div>
				<div class="inv-info-td">
					&nbsp;
					<div ng-bind-html="invoice.containers"></div>
				</div>
		    </li>
		    <li class="item">
		    	<div class="inv-info-th">Final date of payment:</div>
		    	<div class="inv-info-td">
		    		&nbsp;
		    		{{invoice.debt_date_delay}}
		    	</div>
		    </li>
		</ul>
	</ion-content>
</ion-view>